/* -----------------------------------------------------
Blog
----------------------------------------------------- */
.post-container, .blog-thumb {
  margin-bottom: 16px;
}

.masonry-blog-container{
	max-width: 1140px;
}
.masonry-blog-post-item{
	float: left;
}
.two_column-masonry-blog-item{
    width: 570px;
}
.three_column-masonry-blog-item{
    width: 380px;
}
.four_column-masonry-blog-item{
    width: 285px;
}