/* -----------------------------------------------------
COMMENTS
----------------------------------------------------- */
#reply-title {
    width: 100%;
    float: none;
}

#comments-title {
    clear: both;
    font-size: 23px;
    padding-top: 20px;
    color: #515E6C;
}

.comment-body {
    border-bottom: 1px #c0c1ba dotted;
    padding-bottom: 15px;
    width: 100%;
}
.comment_inner_body{
    width: 88%;
    float: left;
}
.nopassword,
.nocomments {
    color: #aaa;
    font-size: 24px;
    font-weight: 100;
    margin: 26px 0;
    text-align: center;
}

.commentlist {
    list-style: none;
    float: right;
    width: 660px !important;
}

.commentlist > li.comment {
    border-radius: 3px;
    /*margin: 0 0 1.625em;*/
    padding: 1.625em;
    position: relative;
}

.commentlist .pingback {
    margin: 0 0 1.625em;
    padding: 0 1.625em;
}

.commentlist .children {
    list-style: none;
    margin: 0;
}

.commentlist .children li.comment {

    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    margin: 1.625em 0 0;
    padding: 1.63em 0 1.63em 1.63em;
    position: relative;
}

.commentlist .children li.comment .fn, .commentlist li.comment .fn {
    /* FOCUS */
    padding-left: 0px;
}

.comment-meta .fn {
    font-style: normal;
}

.comment-meta {
    color: #666;
    font-size: 12px;
}

.commentlist .children li.comment .comment-meta, .commentlist li.comment .comment-meta {

}

.commentlist .children li.comment .comment-content {
    margin: 1.625em 0 0;
}

.comment-meta a {
    font-weight: bold;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}

.commentlist .inline_comment_head {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.commentlist .inline_comment_head div {
display: inline-block;
}

.commentlist .comment_avatar {
    display: inline-block;
    width: auto;
}

.commentlist .comment_avatar_box {
    display: inline-block;
    float: left;
    width: 10%;
    margin: 0 2% 2% 0;
}

.commentlist .avatar {
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px #ccc;
    -moz-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc;
    padding: 0;
    display: block;
    border: 2px #b8b4ab solid;
}

.commentlist > li:before {
    left: -21px;
    position: absolute;
}

.commentlist > li.pingback:before {
    content: '';
}

.commentlist .children .avatar {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.commentlist .reply {

}

a.comment-reply-link {
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    display: block;
    font-size: 12px;
    padding: 2px 2px 2px 15px;
    text-decoration: none;
    width: auto;
    background: url(images/posts/reply_grey.png) no-repeat left 50%;
}
a.comment-reply-link:hover{
    background: url(images/posts/reply_hovered.png) no-repeat left 50%;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
    /*background: #888;*/
    color: #ccc;
}

a.comment-reply-link > span {
    display: inline-block;
    position: relative;
    top: -1px;
}

.commentlist > li.bypostauthor {
    border-color: #eeeeee;
}

.commentlist > li.bypostauthor .comment-meta {
    color: #575757;
}

.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}

.commentlist .children > li.bypostauthor {

}
.subtitle_comments{
    clear: both;
    display: inline-block;
    width: 100%;
}
.commentlist .comment-author {

}

.comment-awaiting-moderation {
    display: block;
    font-weight: bold;
    padding-top: 5px;
}

#respond h3 {
    clear: both;
    font-size: 23px;
}
#respond{
    clear: both;
}
#commentform {
    overflow: hidden;
    clear: both;
    content: "";
    display: block;
    display: inline-block;
    width: 100%;
}

#commentform .logged-in-as {
    height: 100%;
    overflow: visible !important;
}

#commentform p {

    overflow: hidden;
    display: block;

}

#commentform p.form-allowed-tags code {
    margin-bottom: 5px;
}

#commentform p input[type="text"] {
    width: 99%;
    display: inline-block;
}

#commentform p textarea {
    width: 99%;
    float: left;
}
.comment-form-comment label{
    float: left;
    width: 100%;
}
#commentform p input[type="submit"] {
    float: left;
}

.comment #respond h3 {
    clear: both;
    font-size: 23px;
    margin-bottom: 5px;
    padding-top: 15px;
}

.comment #commentform p input[type="text"] {
    width: 160px;
}

.comment #commentform p input[type="submit"] {
    margin-left: 428px;
}

.children #respond h3 {
    clear: both;
    font-size: 23px;
    margin-bottom: 5px;
    padding-top: 15px;
}

#comment-nav a {
    display: block;
    float: left;
}
#commentform textarea#comment,#commentform p input[type="text"]  {
    padding: 5px 0;
    border: 1px #e4e4e4 solid;
    background-color: #F6F6F6;
    border-radius: 5px;
}

#commentform input#submit {
    padding: 5px;
    border: 0;
    border-bottom: 1px #909090 solid;
    background: #e7e7e7; /* Old browsers */
    background: -moz-linear-gradient(top, #e7e7e7 0%, #e5e5e5 50%, #dcdcdc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e7e7), color-stop(50%, #e5e5e5), color-stop(100%, #dcdcdc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e7e7e7 0%, #e5e5e5 50%, #dcdcdc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e7e7e7 0%, #e5e5e5 50%, #dcdcdc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e7e7e7 0%, #e5e5e5 50%, #dcdcdc 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e7e7e7', endColorstr = '#dcdcdc', GradientType = 0); /* IE6-9 */
}

#commentform input#submit:hover {
    background: #e95938; /* Old browsers */
    background: -moz-linear-gradient(top, #e95938 0%, #e8502d 50%, #dd4b2a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e95938), color-stop(50%, #e8502d), color-stop(100%, #dd4b2a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e95938 0%, #e8502d 50%, #dd4b2a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e95938 0%, #e8502d 50%, #dd4b2a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e95938 0%, #e8502d 50%, #dd4b2a 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e95938', endColorstr = '#dd4b2a', GradientType = 0); /* IE6-9 */
    color: #ffffff;
}