/* -----------------------------------------------------
Margin
----------------------------------------------------- */
.no-margin{
    margin: 0 !important;
}
/* -----------------------------------------------------
Transations
----------------------------------------------------- */
.all-transition {
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;	
}
.vertical-center{
	display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;    
    /* Safari: */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
/* -----------------------------------------------------
Image hover
----------------------------------------------------- */
.int-image-hover-parent{
    position: relative;
    display: table;
}
.int-image-hover-parent img{
    display: block;
} 

.int-image-hover-parent .int-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    background: black;  
    height: 100%;
    width: 100%;  
}
.int-image-hover-parent:hover .int-image-hover {
    display: block;
    visibility: visible;
    opacity: 1;
    background: rgba(0,0,0,0.5);
}
.int-image-hover-parent .int-image-hover a{
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Trick */
}