/* -----------------------------------------------------
Import
----------------------------------------------------- */
@import "variables.less";
@import "effects.less";
/* -----------------------------------------------------
Global
----------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.wrapper {
  height: 100%;
  position: relative;
  overflow: visible;
}
ul {
  list-style: none;
  padding: 0;
}
a{
  color: @king-blue;
}
// .page-container img{
//   width: 100%;
//   height: auto;
// }
button, .btn-social, .btn-social-icon {
  .all-transition;
}
.slick-carousel .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
}
/* -----------------------------------------------------
Header
----------------------------------------------------- */
.header-container{
  background-color: @int-light-gray;
}
.header-elements {
  padding: 16px 0 16px 0;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.logo{
    overflow: hidden;
}
/* -----------------------------------------------------
Head content
----------------------------------------------------- */
.head-content{
  background-color: @sky-blue;
  > div{
    padding: 16px 0;
  }
  .int-breadcrumb{
  }
  .int-breadcrumb-crumbs{
    display: inline-block;
    float: right;
    margin: 0;
    li{
        display: inline-block;
        margin-right: 8px;
        i{ margin-left: 8px; }
    }
  }
}
/* -----------------------------------------------------
Content
----------------------------------------------------- */
.content{
    margin: 36px 0;
}
/* -----------------------------------------------------
Footer
----------------------------------------------------- */
.footer-container{
  background-color: @int-gray;
}
.footer-sidebar-container{
  padding: 50px 0 20px 0;
}