/* -----------------------------------------------------
Import
----------------------------------------------------- */
@import "variables.less";
@import "effects.less";
/* -----------------------------------------------------
Global and First level
----------------------------------------------------- */
.menu-main-container-parent{
    
    height: 100%;
    min-height: 100%;
    position: relative;   
}
.menu-main-container{
    height: 100%;
    a {
        color: @int-black;
        display: block;
        white-space: nowrap;
        padding: 40px 20px;
    }
    ul {
        z-index: 1000;
        list-style: none;
        position: relative;
        display: block;
        margin-bottom: 0;
        
    }
    ul li {
        z-index: 1000;
        float: left;
        .all-transition;
        position: relative;
    }
    ul li:hover{
        background-color: @int-white;
    }
}
.menu-main-container > ul{
    height: inherit;
}
.menu-main-container > ul > li {
    height: inherit;
    a {
        font-weight: bold;
    }
}
/* -----------------------------------------------------
Second level
----------------------------------------------------- */
.menu-main-container ul ul {
    visibility: hidden;
    opacity: 0;
    background: @int-white;
    padding: 0;
    position: absolute;
    top: 100%;
    a{
        padding: 15px 20px;
    }
}
.menu-main-container ul li:hover > ul {
    .all-transition;
    opacity: 1;
    visibility: visible;
}
.menu-main-container ul ul li {
    float: none;
    border-bottom: 1px solid @int-gray;
    position: relative;
}
.menu-main-container ul ul li:last-child{
    border-bottom: none;
}
.menu-main-container ul ul li:hover{
    background: @int-light-gray;
}
.menu-main-container ul ul li a {
    
}
.menu-main-container ul ul li a:hover {
    
}
/* -----------------------------------------------------
Third level
----------------------------------------------------- */
.menu-main-container ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}