.portfolio-item{
    height: auto;
    padding: 8px;
    position: relative;
    float: left;
}
.two_column-grid-portfolio-item{
    width: 570px;
}
.three_column-grid-portfolio-item{
    width: 380px;
}
.four_column-grid-portfolio-item{
    width: 285px;
}
.portfolio-item > * {
    margin: 0;
    padding: 0;
}