.dropcap {
	display:block;
	float:left;
	font-weight:bold;
	font-style:italic;
	font-size:50px;
	line-height:40px;
	margin:0 2px 0 0;
	text-transform: capitalize;
}
blockquote{
	display: block;
}
/* -----------------------------------------------------
Google map
----------------------------------------------------- */
.gmap { 
    width: 100%; 
    height: 500px; 
} 
.gomapMarker { 
    display: block; 
    width: 150px; 
    height: auto; 
}
/* -----------------------------------------------------
Content box
----------------------------------------------------- */
.content-box{
	width: 100%;
	position: relative;
}
.content-box .cb-icon, .content-box .cb-title, .content-box .cb-desc, .content-box .cb-link{
	text-align: center;
}
.content-box .cb-icon i{
	font-size: 48px;
	color: black;
	border: 1px solid black;
	border-radius: 50%;
	padding: 12px;
	background-color: white;
}
.content-box .cb-link a{
	text-decoration: none;
	color: black;
}
.content-box .cb-link a:hover{
	color: gray;
}
.content-box-head .cb-icon{
	position: relative;
	top: 38px;

}
.content-box-footer{
	background-color: white;
	padding: 42px 8px 12px 8px;
}
/* -----------------------------------------------------
Pricing tables
----------------------------------------------------- */
.pricing-table {
	width: 100%;
	border: 1px solid gray;
	position: relative;
}
.pricing-table .pricing-table-head *{
	margin-top: 8px;
	margin-bottom: 8px;
}
.pricing-table .pricing-table-head *, .pricing-table .pricing-table-price, .pricing-table .pricing-table-list li, .pricing-table .pricing-table-footer {
	text-align: center;
	padding: 8px;
}
.pricing-table .pricing-table-head, .pricing-table .pricing-table-price, .pricing-table .pricing-table-list li{
	border-bottom: 1px solid gray;
}
.pricing-table .pricing-table-price, .pricing-table .pricing-table-footer{
	background-color: lightgray; 
}
.no-margin{
	margin: 0;
	margin-bottom: 0;
}
.pricing-table .baseprice{
	font-size: 48px;
	font-weight: bold;
}
.pricing-table .decimalprice{
	font-size: 12px;
	position: relative;
	top: -28px;
}
.pricing-table .postfix{
	font-style: italic;
}
/* -----------------------------------------------------
Tagline box
----------------------------------------------------- */
.tagline-box{
	background-color: white;
	border-style: solid;		
	padding: 12px;
}
/* -----------------------------------------------------
Team member
----------------------------------------------------- */
.team-member{
	.team-thumb, .team-excerpt{
		margin-bottom: 16px;
	}
	.team-excerpt{
		margin: 0 8px 16px 8px;
	}
	border: 1px solid #ccc;
	h3, p, .team-social{
		text-align: center;
	}
	.team-social{
		padding-top: 8px;
		background-color: #ccc;
	}
}
/* -----------------------------------------------------
Selected post types
----------------------------------------------------- */
.selected-post-type-thumbnail {
	a {
		display: block;
	}
}
.slick-carousel {
	top: -42px;
	padding-top: 42px;
	.slick-prev, .slick-next {
		padding: 8px;
		cursor: pointer;
		background-color: #ccc;
		display: inline-block;
		margin-left: 4px;
		margin-right: 4px;
		position: absolute;
		top: 0;		
		z-index: 1000;
		i {
			color: white;
		}
	}
	.slick-next {
		right: 15px;
	}
	.slick-prev {
		right: 36px;
	}
}

.counter-box-border{
	border: 1px solid #ccc;	
}
.counter-box {
	margin-bottom: 16px;	
	display: inline-block;
	*:first-child {
		display: inline-block;
		padding: 12px;
		margin: 0;
	}
	p:last-child {
		text-align: center;
		margin-bottom: 12px;
	}
}
.counter-circle {
	display: inline-block;
	p {
		text-align: center;
		font-weight: bold;
	}
	div {
		display: block !important;
		margin-bottom: 16px;
	}
}