/* -----------------------------------------------------
COMMENTS
----------------------------------------------------- */
#reply-title {
  width: 100%;
  float: none;
}
#comments-title {
  clear: both;
  font-size: 23px;
  padding-top: 20px;
  color: #515E6C;
}
.comment-body {
  border-bottom: 1px #c0c1ba dotted;
  padding-bottom: 15px;
  width: 100%;
}
.comment_inner_body {
  width: 88%;
  float: left;
}
.nopassword,
.nocomments {
  color: #aaa;
  font-size: 24px;
  font-weight: 100;
  margin: 26px 0;
  text-align: center;
}
.commentlist {
  list-style: none;
  float: right;
  width: 660px !important;
}
.commentlist > li.comment {
  border-radius: 3px;
  /*margin: 0 0 1.625em;*/
  padding: 1.625em;
  position: relative;
}
.commentlist .pingback {
  margin: 0 0 1.625em;
  padding: 0 1.625em;
}
.commentlist .children {
  list-style: none;
  margin: 0;
}
.commentlist .children li.comment {
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  margin: 1.625em 0 0;
  padding: 1.63em 0 1.63em 1.63em;
  position: relative;
}
.commentlist .children li.comment .fn,
.commentlist li.comment .fn {
  /* FOCUS */
  padding-left: 0px;
}
.comment-meta .fn {
  font-style: normal;
}
.comment-meta {
  color: #666;
  font-size: 12px;
}
.commentlist .children li.comment .comment-content {
  margin: 1.625em 0 0;
}
.comment-meta a {
  font-weight: bold;
}
.commentlist .inline_comment_head {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.commentlist .inline_comment_head div {
  display: inline-block;
}
.commentlist .comment_avatar {
  display: inline-block;
  width: auto;
}
.commentlist .comment_avatar_box {
  display: inline-block;
  float: left;
  width: 10%;
  margin: 0 2% 2% 0;
}
.commentlist .avatar {
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  padding: 0;
  display: block;
  border: 2px #b8b4ab solid;
}
.commentlist > li:before {
  left: -21px;
  position: absolute;
}
.commentlist > li.pingback:before {
  content: '';
}
.commentlist .children .avatar {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
a.comment-reply-link {
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  display: block;
  font-size: 12px;
  padding: 2px 2px 2px 15px;
  text-decoration: none;
  width: auto;
  background: url(images/posts/reply_grey.png) no-repeat left 50%;
}
a.comment-reply-link:hover {
  background: url(images/posts/reply_hovered.png) no-repeat left 50%;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
  /*background: #888;*/
  color: #ccc;
}
a.comment-reply-link > span {
  display: inline-block;
  position: relative;
  top: -1px;
}
.commentlist > li.bypostauthor {
  border-color: #eeeeee;
}
.commentlist > li.bypostauthor .comment-meta {
  color: #575757;
}
.subtitle_comments {
  clear: both;
  display: inline-block;
  width: 100%;
}
.comment-awaiting-moderation {
  display: block;
  font-weight: bold;
  padding-top: 5px;
}
#respond h3 {
  clear: both;
  font-size: 23px;
}
#respond {
  clear: both;
}
#commentform {
  overflow: hidden;
  clear: both;
  content: "";
  display: block;
  display: inline-block;
  width: 100%;
}
#commentform .logged-in-as {
  height: 100%;
  overflow: visible !important;
}
#commentform p {
  overflow: hidden;
  display: block;
}
#commentform p.form-allowed-tags code {
  margin-bottom: 5px;
}
#commentform p input[type="text"] {
  width: 99%;
  display: inline-block;
}
#commentform p textarea {
  width: 99%;
  float: left;
}
.comment-form-comment label {
  float: left;
  width: 100%;
}
#commentform p input[type="submit"] {
  float: left;
}
.comment #respond h3 {
  clear: both;
  font-size: 23px;
  margin-bottom: 5px;
  padding-top: 15px;
}
.comment #commentform p input[type="text"] {
  width: 160px;
}
.comment #commentform p input[type="submit"] {
  margin-left: 428px;
}
.children #respond h3 {
  clear: both;
  font-size: 23px;
  margin-bottom: 5px;
  padding-top: 15px;
}
#comment-nav a {
  display: block;
  float: left;
}
#commentform textarea#comment,
#commentform p input[type="text"] {
  padding: 5px 0;
  border: 1px #e4e4e4 solid;
  background-color: #F6F6F6;
  border-radius: 5px;
}
#commentform input#submit {
  padding: 5px;
  border: 0;
  border-bottom: 1px #909090 solid;
  background: #e7e7e7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e7e7e7 0%, #e5e5e5 50%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e7e7), color-stop(50%, #e5e5e5), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e7e7e7 0%, #e5e5e5 50%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e7e7e7 0%, #e5e5e5 50%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e7e7e7 0%, #e5e5e5 50%, #dcdcdc 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#dcdcdc', GradientType=0);
  /* IE6-9 */
}
#commentform input#submit:hover {
  background: #e95938;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e95938 0%, #e8502d 50%, #dd4b2a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e95938), color-stop(50%, #e8502d), color-stop(100%, #dd4b2a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e95938 0%, #e8502d 50%, #dd4b2a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e95938 0%, #e8502d 50%, #dd4b2a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e95938 0%, #e8502d 50%, #dd4b2a 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e95938', endColorstr='#dd4b2a', GradientType=0);
  /* IE6-9 */
  color: #ffffff;
}
/* -----------------------------------------------------
Import
----------------------------------------------------- */
/* -----------------------------------------------------
Margin
----------------------------------------------------- */
.no-margin {
  margin: 0 !important;
}
/* -----------------------------------------------------
Transations
----------------------------------------------------- */
.all-transition {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}
.vertical-center {
  display: flex;
  /* Vertical align: */
  align-items: center;
  /* Horizontal align: */
  justify-content: center;
  /* Safari: */
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
/* -----------------------------------------------------
Image hover
----------------------------------------------------- */
.int-image-hover-parent {
  position: relative;
  display: table;
}
.int-image-hover-parent img {
  display: block;
}
.int-image-hover-parent .int-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background: black;
  height: 100%;
  width: 100%;
}
.int-image-hover-parent:hover .int-image-hover {
  display: block;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.int-image-hover-parent .int-image-hover a {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Trick */
}
/* -----------------------------------------------------
Global and First level
----------------------------------------------------- */
.menu-main-container-parent {
  height: 100%;
  min-height: 100%;
  position: relative;
}
.menu-main-container {
  height: 100%;
}
.menu-main-container a {
  color: black;
  display: block;
  white-space: nowrap;
  padding: 40px 20px;
}
.menu-main-container ul {
  z-index: 1000;
  list-style: none;
  position: relative;
  display: block;
  margin-bottom: 0;
}
.menu-main-container ul li {
  z-index: 1000;
  float: left;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  position: relative;
}
.menu-main-container ul li:hover {
  background-color: white;
}
.menu-main-container > ul {
  height: inherit;
}
.menu-main-container > ul > li {
  height: inherit;
}
.menu-main-container > ul > li a {
  font-weight: bold;
}
/* -----------------------------------------------------
Second level
----------------------------------------------------- */
.menu-main-container ul ul {
  visibility: hidden;
  opacity: 0;
  background: white;
  padding: 0;
  position: absolute;
  top: 100%;
}
.menu-main-container ul ul a {
  padding: 15px 20px;
}
.menu-main-container ul li:hover > ul {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  opacity: 1;
  visibility: visible;
}
.menu-main-container ul ul li {
  float: none;
  border-bottom: 1px solid #d3d3d3;
  position: relative;
}
.menu-main-container ul ul li:last-child {
  border-bottom: none;
}
.menu-main-container ul ul li:hover {
  background: #e6e6e6;
}
/* -----------------------------------------------------
Third level
----------------------------------------------------- */
.menu-main-container ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
.dropcap {
  display: block;
  float: left;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  line-height: 40px;
  margin: 0 2px 0 0;
  text-transform: capitalize;
}
blockquote {
  display: block;
}
/* -----------------------------------------------------
Google map
----------------------------------------------------- */
.gmap {
  width: 100%;
  height: 500px;
}
.gomapMarker {
  display: block;
  width: 150px;
  height: auto;
}
/* -----------------------------------------------------
Content box
----------------------------------------------------- */
.content-box {
  width: 100%;
  position: relative;
}
.content-box .cb-icon,
.content-box .cb-title,
.content-box .cb-desc,
.content-box .cb-link {
  text-align: center;
}
.content-box .cb-icon i {
  font-size: 48px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  padding: 12px;
  background-color: white;
}
.content-box .cb-link a {
  text-decoration: none;
  color: black;
}
.content-box .cb-link a:hover {
  color: gray;
}
.content-box-head .cb-icon {
  position: relative;
  top: 38px;
}
.content-box-footer {
  background-color: white;
  padding: 42px 8px 12px 8px;
}
/* -----------------------------------------------------
Pricing tables
----------------------------------------------------- */
.pricing-table {
  width: 100%;
  border: 1px solid gray;
  position: relative;
}
.pricing-table .pricing-table-head * {
  margin-top: 8px;
  margin-bottom: 8px;
}
.pricing-table .pricing-table-head *,
.pricing-table .pricing-table-price,
.pricing-table .pricing-table-list li,
.pricing-table .pricing-table-footer {
  text-align: center;
  padding: 8px;
}
.pricing-table .pricing-table-head,
.pricing-table .pricing-table-price,
.pricing-table .pricing-table-list li {
  border-bottom: 1px solid gray;
}
.pricing-table .pricing-table-price,
.pricing-table .pricing-table-footer {
  background-color: lightgray;
}
.no-margin {
  margin: 0;
  margin-bottom: 0;
}
.pricing-table .baseprice {
  font-size: 48px;
  font-weight: bold;
}
.pricing-table .decimalprice {
  font-size: 12px;
  position: relative;
  top: -28px;
}
.pricing-table .postfix {
  font-style: italic;
}
/* -----------------------------------------------------
Tagline box
----------------------------------------------------- */
.tagline-box {
  background-color: white;
  border-style: solid;
  padding: 12px;
}
/* -----------------------------------------------------
Team member
----------------------------------------------------- */
.team-member {
  border: 1px solid #ccc;
}
.team-member .team-thumb,
.team-member .team-excerpt {
  margin-bottom: 16px;
}
.team-member .team-excerpt {
  margin: 0 8px 16px 8px;
}
.team-member h3,
.team-member p,
.team-member .team-social {
  text-align: center;
}
.team-member .team-social {
  padding-top: 8px;
  background-color: #ccc;
}
/* -----------------------------------------------------
Selected post types
----------------------------------------------------- */
.selected-post-type-thumbnail a {
  display: block;
}
.slick-carousel {
  top: -42px;
  padding-top: 42px;
}
.slick-carousel .slick-prev,
.slick-carousel .slick-next {
  padding: 8px;
  cursor: pointer;
  background-color: #ccc;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  position: absolute;
  top: 0;
  z-index: 1000;
}
.slick-carousel .slick-prev i,
.slick-carousel .slick-next i {
  color: white;
}
.slick-carousel .slick-next {
  right: 15px;
}
.slick-carousel .slick-prev {
  right: 36px;
}
.counter-box-border {
  border: 1px solid #ccc;
}
.counter-box {
  margin-bottom: 16px;
  display: inline-block;
}
.counter-box *:first-child {
  display: inline-block;
  padding: 12px;
  margin: 0;
}
.counter-box p:last-child {
  text-align: center;
  margin-bottom: 12px;
}
.counter-circle {
  display: inline-block;
}
.counter-circle p {
  text-align: center;
  font-weight: bold;
}
.counter-circle div {
  display: block !important;
  margin-bottom: 16px;
}
.portfolio-item {
  height: auto;
  padding: 8px;
  position: relative;
  float: left;
}
.two_column-grid-portfolio-item {
  width: 570px;
}
.three_column-grid-portfolio-item {
  width: 380px;
}
.four_column-grid-portfolio-item {
  width: 285px;
}
.portfolio-item > * {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a,
label,
input,
li,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
div,
button {
  font-family: 'Droid Sans', sans-serif;
  color: black;
}
.searchform {
  margin-bottom: 12px;
}
/* -----------------------------------------------------
Blog
----------------------------------------------------- */
.post-container,
.blog-thumb {
  margin-bottom: 16px;
}
.masonry-blog-container {
  max-width: 1140px;
}
.masonry-blog-post-item {
  float: left;
}
.two_column-masonry-blog-item {
  width: 570px;
}
.three_column-masonry-blog-item {
  width: 380px;
}
.four_column-masonry-blog-item {
  width: 285px;
}
/* -----------------------------------------------------
Import
----------------------------------------------------- */
/* -----------------------------------------------------
Global
----------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.wrapper {
  height: 100%;
  position: relative;
  overflow: visible;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: #004e7f;
}
button,
.btn-social,
.btn-social-icon {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}
.slick-carousel .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}
/* -----------------------------------------------------
Header
----------------------------------------------------- */
.header-container {
  background-color: #e6e6e6;
}
.header-elements {
  padding: 16px 0 16px 0;
}
.header-elements h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.logo {
  overflow: hidden;
}
/* -----------------------------------------------------
Head content
----------------------------------------------------- */
.head-content {
  background-color: #66ccff;
}
.head-content > div {
  padding: 16px 0;
}
.head-content .int-breadcrumb-crumbs {
  display: inline-block;
  float: right;
  margin: 0;
}
.head-content .int-breadcrumb-crumbs li {
  display: inline-block;
  margin-right: 8px;
}
.head-content .int-breadcrumb-crumbs li i {
  margin-left: 8px;
}
/* -----------------------------------------------------
Content
----------------------------------------------------- */
.content {
  margin: 36px 0;
}
/* -----------------------------------------------------
Footer
----------------------------------------------------- */
.footer-container {
  background-color: #d3d3d3;
}
.footer-sidebar-container {
  padding: 50px 0 20px 0;
}
